@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#app {
  color: black;
  font-family: 'Myriad Pro';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  background-color: #fbfcfd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent;
}
